{% extends 'base.html.twig' %}

{% block title %}Scene{% endblock %}

{% block body %}
    <h1>Scene</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ scene.id }}</td>
            </tr>
            <tr>
                <th>Nom_scene</th>
                <td>{{ scene.nomScene }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_scene_index') }}">back to list</a>

    <a href="{{ path('app_scene_edit', {'id': scene.id}) }}">edit</a>

    {{ include('scene/_delete_form.html.twig') }}
{% endblock %}
